.triple_content {
  width: 100%;
  margin: 50px 0;
}

.img_wrapper {
  width: 460px;
  height: 152px;
  border-radius: 10px;
  overflow: hidden;
}

.triple_content img {
  width: 460px;
  height: 152px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .4s ease;
}

.triple_content img:hover {
  transform: scale(1.05);
}
