* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: auto;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


